@page
@model BrewMaster.Pages.Admin.Services.ServiceDashboardModel
@{
    <p>
    <a asp-page="/Index" class="btn btn-secondary">Tilbage til forsiden</a>
</p>

    ViewData["Title"] = "Service Dashboard";
}

<h1>Opgaver</h1>


<table class="table">
    <thead>
        <tr>
            <th>Service ID</th>
            <th>Date</th>
            <th>Service Type</th>
            <th>User</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var service in Model.Services)
        {
            <tr>
                <td>@service.ServiceId</td>
                <td>@service.Date?.ToString("yyyy-MM-dd")</td>
                <td>@service.ServiceType</td>
                <td>@service.User?.Name ?? "UserId"</td>
                <td>
                    <a asp-page="./EditService" asp-route-id="@service.ServiceId" class="btn btn-primary">Rediger</a>
                    <a asp-page="./DeleteService" asp-route-id="@service.ServiceId" class="btn btn-danger">Slet</a>
                    
                </td>
                
            </tr>
        }
    </tbody>
</table>
<a asp-page="/Admin/Services/Cleanings/CreateService" class="btn btn-primary">Opret ny Opgave</a> <!-- Knap til at oprette en ny Opgave -->


