@page
@model BrewMaster.Pages.Admin.Services.ServiceDashboardModel
@{
    ViewData["Title"] = "Service Dashboard";
}

<h1>Service Dashboard</h1>
<a asp-page="/Admin/Services/Cleanings/CreateService" class="btn btn-primary">Opret ny Service</a> <!-- Knap til at oprette en ny maskine -->

<table class="table">
    <thead>
        <tr>
            <th>Service ID</th>
            <th>Date</th>
            <th>Service Type</th>
            <th>User</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var service in Model.Services)
        {
            <tr>
                <td>@service.ServiceId</td>
                <td>@service.Date?.ToString("yyyy-MM-dd")</td>
                <td>@service.ServiceType</td>
                <td>@service.User?.Name ?? "Unknown"</td>
                <td>
                    <a asp-page="./EditService" asp-route-id="@service.ServiceId" class="btn btn-primary">Edit</a>
                    <a asp-page="./DeleteService" asp-route-id="@service.ServiceId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


